<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zptc.gx.mapper.TeachersMapper" >

    <resultMap id="BaseResultMap" type="com.zptc.gx.entity.Teachers" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP" />
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
        <result column="graduate_school" property="graduateSchool" jdbcType="VARCHAR" />
        <result column="final_degree" property="finalDegree" jdbcType="VARCHAR" />
        <result column="political_status" property="politicalStatus" jdbcType="VARCHAR" />
        <result column="specialty_code" property="specialtyCode" jdbcType="VARCHAR" />
        <result column="specialty_name" property="specialtyName" jdbcType="VARCHAR" />
        <result column="research direction" property="researchDirection" jdbcType="VARCHAR" />
        <result column="is_part_time" property="isPartTime" jdbcType="INTEGER" />
        <result column="specialty_id" property="specialtyId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
        <result column="ext1" property="ext1" jdbcType="VARCHAR" />
        <result column="ext2" property="ext2" jdbcType="VARCHAR" />
        <result column="ext3" property="ext3" jdbcType="VARCHAR" />
        <result column="ext4" property="ext4" jdbcType="VARCHAR" />
        <result column="ext5" property="ext5" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, code, entry_time, birthday, graduate_school, final_degree, political_status, 
        specialty_code, specialty_name, "research direction", is_part_time, specialty_id, 
        create_time, create_user, modify_time, modify_user, ext1, ext2, ext3, ext4, ext5
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from teachers
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from teachers
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zptc.gx.entity.Teachers" >
        insert into teachers (id, code, entry_time, 
            birthday, graduate_school, final_degree, 
            political_status, specialty_code, specialty_name, 
            "research direction", is_part_time, specialty_id, 
            create_time, create_user, modify_time, 
            modify_user, ext1, ext2, 
            ext3, ext4, ext5)
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, 
            #{birthday,jdbcType=TIMESTAMP}, #{graduateSchool,jdbcType=VARCHAR}, #{finalDegree,jdbcType=VARCHAR}, 
            #{politicalStatus,jdbcType=VARCHAR}, #{specialtyCode,jdbcType=VARCHAR}, #{specialtyName,jdbcType=VARCHAR}, 
            #{researchDirection,jdbcType=VARCHAR}, #{isPartTime,jdbcType=INTEGER}, #{specialtyId,jdbcType=BIGINT}, 
            #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
            #{modifyUser,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
            #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.zptc.gx.entity.Teachers" >
        insert into teachers
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="code != null" >
                code,
            </if>
            <if test="entryTime != null" >
                entry_time,
            </if>
            <if test="birthday != null" >
                birthday,
            </if>
            <if test="graduateSchool != null" >
                graduate_school,
            </if>
            <if test="finalDegree != null" >
                final_degree,
            </if>
            <if test="politicalStatus != null" >
                political_status,
            </if>
            <if test="specialtyCode != null" >
                specialty_code,
            </if>
            <if test="specialtyName != null" >
                specialty_name,
            </if>
            <if test="researchDirection != null" >
                "research direction",
            </if>
            <if test="isPartTime != null" >
                is_part_time,
            </if>
            <if test="specialtyId != null" >
                specialty_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="modifyUser != null" >
                modify_user,
            </if>
            <if test="ext1 != null" >
                ext1,
            </if>
            <if test="ext2 != null" >
                ext2,
            </if>
            <if test="ext3 != null" >
                ext3,
            </if>
            <if test="ext4 != null" >
                ext4,
            </if>
            <if test="ext5 != null" >
                ext5,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="entryTime != null" >
                #{entryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="birthday != null" >
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="graduateSchool != null" >
                #{graduateSchool,jdbcType=VARCHAR},
            </if>
            <if test="finalDegree != null" >
                #{finalDegree,jdbcType=VARCHAR},
            </if>
            <if test="politicalStatus != null" >
                #{politicalStatus,jdbcType=VARCHAR},
            </if>
            <if test="specialtyCode != null" >
                #{specialtyCode,jdbcType=VARCHAR},
            </if>
            <if test="specialtyName != null" >
                #{specialtyName,jdbcType=VARCHAR},
            </if>
            <if test="researchDirection != null" >
                #{researchDirection,jdbcType=VARCHAR},
            </if>
            <if test="isPartTime != null" >
                #{isPartTime,jdbcType=INTEGER},
            </if>
            <if test="specialtyId != null" >
                #{specialtyId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null" >
                #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null" >
                #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="ext3 != null" >
                #{ext3,jdbcType=VARCHAR},
            </if>
            <if test="ext4 != null" >
                #{ext4,jdbcType=VARCHAR},
            </if>
            <if test="ext5 != null" >
                #{ext5,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zptc.gx.entity.Teachers" >
        update teachers
        <set >
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="entryTime != null" >
                entry_time = #{entryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="graduateSchool != null" >
                graduate_school = #{graduateSchool,jdbcType=VARCHAR},
            </if>
            <if test="finalDegree != null" >
                final_degree = #{finalDegree,jdbcType=VARCHAR},
            </if>
            <if test="politicalStatus != null" >
                political_status = #{politicalStatus,jdbcType=VARCHAR},
            </if>
            <if test="specialtyCode != null" >
                specialty_code = #{specialtyCode,jdbcType=VARCHAR},
            </if>
            <if test="specialtyName != null" >
                specialty_name = #{specialtyName,jdbcType=VARCHAR},
            </if>
            <if test="researchDirection != null" >
                "research direction" = #{researchDirection,jdbcType=VARCHAR},
            </if>
            <if test="isPartTime != null" >
                is_part_time = #{isPartTime,jdbcType=INTEGER},
            </if>
            <if test="specialtyId != null" >
                specialty_id = #{specialtyId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser != null" >
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null" >
                ext1 = #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null" >
                ext2 = #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="ext3 != null" >
                ext3 = #{ext3,jdbcType=VARCHAR},
            </if>
            <if test="ext4 != null" >
                ext4 = #{ext4,jdbcType=VARCHAR},
            </if>
            <if test="ext5 != null" >
                ext5 = #{ext5,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zptc.gx.entity.Teachers" >
        update teachers
        set code = #{code,jdbcType=VARCHAR},
            entry_time = #{entryTime,jdbcType=TIMESTAMP},
            birthday = #{birthday,jdbcType=TIMESTAMP},
            graduate_school = #{graduateSchool,jdbcType=VARCHAR},
            final_degree = #{finalDegree,jdbcType=VARCHAR},
            political_status = #{politicalStatus,jdbcType=VARCHAR},
            specialty_code = #{specialtyCode,jdbcType=VARCHAR},
            specialty_name = #{specialtyName,jdbcType=VARCHAR},
            "research direction" = #{researchDirection,jdbcType=VARCHAR},
            is_part_time = #{isPartTime,jdbcType=INTEGER},
            specialty_id = #{specialtyId,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            create_user = #{createUser,jdbcType=VARCHAR},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            modify_user = #{modifyUser,jdbcType=VARCHAR},
            ext1 = #{ext1,jdbcType=VARCHAR},
            ext2 = #{ext2,jdbcType=VARCHAR},
            ext3 = #{ext3,jdbcType=VARCHAR},
            ext4 = #{ext4,jdbcType=VARCHAR},
            ext5 = #{ext5,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>